# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = cig2017.wad

#12 minutes
episode_timeout = 21000

# Rendering options
screen_resolution = RES_160X120
screen_format = CRCGCB
render_hud = false
render_crosshair = true
render_weapon = false
render_decals = false
render_particles = false
window_visible = false

episode_start_time = 10
#death_penalty = 0.1
living_reward = -0.0001

# Available buttons
available_buttons =
{
    ATTACK

    TURN_LEFT
    TURN_RIGHT
    MOVE_RIGHT
    MOVE_LEFT
    MOVE_FORWARD
    MOVE_BACKWARD
    SPEED
    TURN180
    TURN_LEFT_RIGHT_DELTA
}
# TODO(pengsun): update to vizdoom 1.1.8 to support parsing HITCOUNT, HITS_TAKEN
available_game_variables =
{
    KILLCOUNT
    ITEMCOUNT
    SECRETCOUNT
    FRAGCOUNT
    DEATHCOUNT
    HEALTH
    SELECTED_WEAPON_AMMO
    HITCOUNT
    HITS_TAKEN
    #DAMAGE_TAKEN
    #DAMAGECOUNT
    #FRAGCOUNT
    POSITION_X
    POSITION_Y
    ARMOR
    PLAYER_NUMBER
    DEAD

    # ANGLE
}

game_args += +sv_noautoaim 1
game_args += +sv_respawnprotect 1
game_args += +sv_forcerespawn 1
game_args += +viz_respawn_delay 10
#game_args += +sv_unlimited_pickup 1

mode = PLAYER
doom_skill = 3

